<configuration>
  <system.webServer>
    <handlers>
      
      
      <!-- Add a custom handler for Python -->
      <add name="PythonHandler" path="*" verb="*" modules="ManagedPipelineHandler" scriptProcessor="C:\Users\NIS\AppData\Local\Programs\Python\Python311\python.exe|C:\inetpub\wwwroot\myapp\main.py" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\myapp\myenv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="None" />
      <add name="CGI-exe" path="*.exe" verb="*" modules="CgiModule" resourceType="Unspecified" requireAccess="Script" allowPathInfo="true" />
    </handlers>
    <urlCompression doDynamicCompression="true" />
    <httpRedirect enabled="false" destination="https://qdserversas3.eastus2.cloudapp.azure.com/api" />
    <httpErrors errorMode="Detailed" />
  </system.webServer>

  <!-- Add the Reverse Proxy Rule -->
  <rewrite>
    <rules>
      <rule name="ReverseProxyInboundRule" stopProcessing="true">
        <match url="^api/(.*)" />
        <action type="Rewrite" url="http://localhost:5000/{R:1}" />
      </rule>
    </rules>
  </rewrite>

  <appSettings>
    <add key="WSGI_HANDLER" value="main.app" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\myapp" />
    <add key="WSGI_LOG" value="C:\inetpub\wwwroot\api_python\app.log" />
  </appSettings>

  <system.web>
    <httpRuntime executionTimeout="180" />
    <identity impersonate="false" />
    <authentication mode="Forms" />
  </system.web>
</configuration>